@inherits LayoutComponentBase

<MudThemeProvider Theme="CurrentTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => { DrawerOpen ^= true; })" />
        <MudText Typo="Typo.h5" Class="ml-3">@Title</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End" Href="https://github.com/mystyq/TaskSystem"/>
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-5">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@implements IDisposable
@inject UpdateTitleService updateTitleService
@code {
    private string Title { get; set; } = string.Empty;

    private bool DrawerOpen { get; set; } = true;

    private MudTheme CurrentTheme = new()
        {
            Palette = new()
            {
                Primary = Colors.Grey.Darken1,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = "#002d38",
            }
        };

    protected override void OnInitialized()
    {
        updateTitleService.UpdateTitleChanged += HandleUpdateTitleChanged!;
        base.OnInitialized();
    }

    private void HandleUpdateTitleChanged(object sender, UpdateTitleService.UpdateTitleEventArgs args)
    {
        this.Title = args.Title!;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (updateTitleService is not null)
        {
            updateTitleService.UpdateTitleChanged -= HandleUpdateTitleChanged!;
        }
    }
}