@page "/create"
@page "/create/{Id:int}"
@rendermode InteractiveServer

<PageTitle>Create Task</PageTitle>

<EditForm EditContext="_editContext" OnValidSubmit="@HandleValidSubmit" FormName="CreateTaskForm">
    <div class="form-group mb-2">
        <label for="@nameof(_task.Title)">@nameof(_task.Title)</label>
        <input @ref="_iautofocus" id="@nameof(_task.Title)" @bind="_task.Title" class="form-control" />
        <ValidationMessage For="() => _task.Title" />
    </div>
    <div class="form-group mb-2">
        <label for="@nameof(_task.Description)">@nameof(_task.Description)</label>
        <input id="@nameof(_task.Description)" @bind="_task.Description" class="form-control" />
        <ValidationMessage For="() => _task.Description" />
    </div>
    <div class="form-group mb-2">
        <label for="@nameof(_task.Comment)">@nameof(_task.Comment)</label>
        <InputTextArea id="@nameof(_task.Comment)" @bind-Value="_task.Comment" class="form-control" />
        <ValidationMessage For="() => _task.Comment" />
    </div>
    <div class="form-group mb-2">
        <label for="@nameof(_task.Priority)">@nameof(_task.Priority)</label>
        <select id="@nameof(_task.Priority)" @bind="_task.Priority" class="form-control">
            @foreach(var priority in Data.Enums.Priority.GetValues(typeof(Priority)))
            {
                <option value="@priority">@priority</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-dark">Save</button>
</EditForm>



@implements IDisposable
@inject UpdateTitleService updateTitleService
@code {
    private DatabaseContext? _context;

    private Data.Models.Task _task = new();

    private EditContext? _editContext;

    private ValidationMessageStore? _messageStore;

    private ElementReference _iautofocus;

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if(Id is not null)
        {
            var task = await _context.Tasks.FindAsync(Id);
            if(task is not null)
            {
                _task = task;
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _iautofocus.FocusAsync();
        }
    }
    protected override void OnInitialized()
    {
        _context ??= _contextFactory.CreateDbContext();
        _editContext = new(_task);
        _editContext.OnValidationRequested += HandleValidationRequested;
        _messageStore = new(_editContext);

        if(Id is null)
        {
            updateTitleService.UpdateTitle("Create Task");
        }
        else
        {
            updateTitleService.UpdateTitle("Edit Task");
        }
    }

    private void HandleValidSubmit()
    {
        _context ??= _contextFactory.CreateDbContext();

        if (Id is not null)
        {
            _context.Tasks.Update(_task);
        }
        else
        {
            _task.DateCreated = DateTime.Now;
            _task.Status = Data.Enums.Status.Staged;

            _context?.Tasks.Add(_task);
        }
        
        _context?.SaveChanges();
        NavigationManager.NavigateTo("tasks");
    }

    private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
    {
        _messageStore?.Clear();

        if (string.IsNullOrEmpty(_task.Title))
        {
            _messageStore?.Add(() => _task.Title!, "Enter a title");
        }
    }

    public void Dispose()
    {
        if (_editContext is not null)
        {
            _editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }
}